@{
	ViewData["Title"] = "Home Page";
}


<div class="row">
	<div class="nav">
		<nav class="navbar">
			<ul class="navbar__menu">
				<li class="navbar__item" data-target="create" id="nose">
					<a href="#" class="navbar__link"><i data-feather="save"></i><span>Agregar</span></a>
				</li>
				<li class="navbar__item" data-target="update" id="nose">
					<a href="#" class="navbar__link"><i data-feather="edit"></i><span>Editar</span></a>
				</li>
				<li class="navbar__item" data-target="delete" id="nose">
					<a href="#" class="navbar__link"><i data-feather="trash-2"></i><span>Eliminar</span></a>
				</li>
				<li class="navbar__item" data-target="show" id="nose">
					<a href="#" class="navbar__link"><i data-feather="search"></i><span>Eliminar</span></a>
				</li>
				<li class="navbar__item" onclick="logout()">
					<a href="#" class="navbar__link"><i data-feather="log-out"></i><span>Eliminar</span></a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="container">
		<div class="section create active">
			<div class="content">
				<h2>Agregar registro</h2>
				<form id="formulario" action="./php/functions.php" method="POST">
					<input type="hidden" name="form_id" value="save">
					<label for="clave">Clave:</label>
					<input type="text" id="clave" name="clave" required>
					<label for="nombre">Nombre:</label>
					<input type="text" id="nombre" name="nombre" required>
					<label for="Contraseña">Contraseña:</label>
					<input type="password" id="contraseña" name="contraseña" required>
					<label for="sexo">Sexo:</label>
					<select id="sexo" name="sexo" required>
						<option value="">Seleccione...</option>
						<option value="masculino">Masculino</option>
						<option value="femenino">Femenino</option>
						<option value="otro">Otro</option>
					</select>
					<button type="submit" id="btnRegistrar">Registrar</button>
				</form>
			</div>
		</div>
		<div class="section update">
			<div class="content">
				<h2>Actualizar registro</h2>
				<h3>Registros</h3>
				<table id="queryu">
				</table>
			</div>
		</div>
		<div class="section delete">
			<div class="content">
				<h2>Eliminar registro</h2>
				<h3>Registros</h3>
				<table id="queryd">
				</table>
			</div>
		</div>
		<div class="section show">
			<div class="content">
				<h2>Mostrar registros</h2>
				<h3>Registros</h3>
				<table id="querys">
				</table>
			</div>
		</div>
	</div>
</div>
<div id="modal" class="modal">
	<div class="modal-content">
		<span class="close" id="close">&times;</span>
		<p id="modal-message"></p>
	</div>
</div>
<div id="modal-login" class="modal">
	<div class="modal-content">
		<h2>Iniciar sesion</h2>
		<form id="form-login" action="./php/functions.php" method="POST">
			<input type="hidden" name="form_id" value="login">
			<label for="clave">Clave:</label>
			<input type="text" id="clave" name="clave" required>
			<label for="Contraseña">Contraseña:</label>
			<input type="password" id="contraseña" name="contraseña" required>
			<button type="submit" id="btnRegistrar">Ingresar</button>
		</form>
	</div>
</div>
<div class="modal" id="modal-update">
	<div class="modal-content">
		<span class="close" id="close-update">&times;</span>
		<h2>Actualizar registro</h2>
		<form class="form-modal" id="form-update" action="./php/functions.php" method="POST">
			<input type="hidden" name="form_id" value="update">
			<input type="hidden" name="id" id="id">
			<label for="clave">Clave:</label>
			<input type="text" id="clave" name="claveu" required>
			<label for="nombre">Nombre:</label>
			<input type="text" id="nombre" name="nombreu" required>
			<label for="sexo">Sexo:</label>
			<select id="sexo" name="sexou" required>
				<option value="">Seleccione...</option>
				<option value="masculino">Masculino</option>
				<option value="femenino">Femenino</option>
				<option value="otro">Otro</option>
			</select>
			<button type="submit">Actualizar</button>
		</form>
	</div>
</div>
<div class="modal" id="modal-delete">
	<div class="modal-content">
		<span class="close" id="close-delete">&times;</span>
		<h2>Eliminar registro</h2>
		<form class="form-modal" id="form-delete" action="./php/functions.php" method="POST">
			<input type="hidden" name="form_id" value="delete">
			<input type="hidden" name="idd" id="id">
			<label for="clave">Clave:</label>
			<input type="text" id="clave" name="clave" readonly>
			<label for="nombre">Nombre:</label>
			<input type="text" id="nombre" name="nombre" readonly>
			<label for="sexo">Sexo:</label>
			<select id="sexo" name="sexo" disabled>
				<option value="">Seleccione...</option>
				<option value="masculino">Masculino</option>
				<option value="femenino">Femenino</option>
				<option value="otro">Otro</option>
			</select>
			<p>¿Seguro que desea eliminar el registro?</p>
			<button type="submit">Eliminar</button>
		</form>
	</div>
</div>